<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison Results</title>
    <!-- Add Bootstrap for styling -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container mt-5">
        <h1>Summary</h1>
        
        <!-- Check if results are available -->
        {% if results %}
            <div class="row">
                {% for result in results %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img src="{{ result.product_image }}" alt="{{ result.title }}" class="card-img-top" style="max-height: 300px; object-fit: contain;">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.title }}</h5>
                            <p class="card-text"><strong>Price:</strong> ${{ result.price }}</p>
                            <p class="card-text"><strong>Rated {{ result.rating }}/5 by {{ result.number_of_ratings }} users</strong></p>
                            <p class="card-text"><strong>Product Score:</strong> {{ result.adjusted_rating }}</p>
                            <h6>Specifications:</h6>
                            <ul>
                                {% for key, value in result.specs.items() %}
                                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                                {% endfor %}
                            </ul>
                            
                            <p><strong>About This Item:</strong> {{ result.about_this_item }}</p>
                            <p><strong>Reviews:</strong> {{ result.reviews }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No results found. Please try submitting the URLs again.</p>
        {% endif %}
    </div>

    <!-- Add Bootstrap's JS for interactive elements -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zyJtq+Pb6aCZb6d9TW2goVpkv8gU6dO9A5xONjRS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0YzqFjcJxW+gS9drXy9zz6Omtg8XlMQvH2j6WySgwIZGn89Y" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0YzqFjcJxW+gS9drXy9zz6Omtg8XlMQvH2j6WySgwIZGn89Y" crossorigin="anonymous"></script>
</body>
</html>
