<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>URL Input Page</title>
</head>
<div class="title">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Amazon ShopSmart">
</div>
<body>
    <div class="container">
        <h1>Compare your Amazon products here!</h1>
        <h2>Paste the URLs of your prospective buys below and hit submit to get a direct product comparison and an algorithm based recommendation that accounts for prices, ratings, and reviews</h2>
        <form action="/" method="POST">
            <input type="url" name="url1" placeholder="Product 1 URL" required>
            <br>
            <input type="url" name="url2" placeholder="Product 2 URL" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>