body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #FFF6E5, #FFE9CC);
    color: #333;
    text-align: center;
    padding: 20px;
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: auto;
    margin-bottom: 50px;
}

.title img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

h1 {
    font-weight: 600;
    margin-bottom: 30px;
    background: linear-gradient(135deg, #D97706, #FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    margin-top: -10px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #D97706, #FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    position: relative;
    top: 20px;
    background-color: #FFFDF7;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

input[type="url"] {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 2px solid #FF8C00;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #FFFBF4;
    color: #333;
}

input[type="url"]:focus {
    border-color: #D97706;
    box-shadow: 0 0 10px rgba(217, 119, 6, 0.5);
    outline: none;
}

button {
    padding: 12px 24px;
    color: #fff;
    background: linear-gradient(90deg, #FF8C00, #D97706);
    border: 2px solid #FF8C00;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #D97706, #FF8C00);
    transform: scale(1.05);
    border-color: #555;
}

.container-comparison {
    width: 100%;
    max-width: 1300px;
    padding: 30px;
    position: relative;
    top: 0px; 
    margin: 20px 0; 
}

.card {
    background-color: #FFFDF7; 
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    height: auto; 
    max-height: 550px; 
    margin-top: 100px; 
    margin-bottom: 20px; 
}

.card-body {
    background-color: transparent;
    max-height: 500px;
    overflow-y: auto; 
    padding: 20px;
    position: relative; 
}

.card img {
    border-bottom: 2px solid #FF8C00; 
    max-height: 300px; 
    object-fit: contain; 
    margin-bottom:3px;
}

.card-title {
    font-weight: 525;
    color: #EC8103;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    line-height: 1.2em; 
    max-height: 2.4em; 
    word-break: break-word; 
}


.card-score {
    font-weight: 700;
    font-size: 40px;
    color: #EC8103;
}

.card-score .small-rating {
    font-size: 0.6em; 
    font-weight: 400;
    vertical-align: sub; 
}

.card-text {
    font-size: 20px;
    color: #EC8103;
}

.card-score,
.card-text:not(.card-text-top-features) {
    border-bottom: 1px solid #FF8C00;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}

.card-text span {
    font-size: 14px; 
}

.card ul {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #FF8C00;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}

.card ul li {
    margin: 5px;
    color: #EC8103;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.card-text strong {
    font-weight: 500;
}

.recommended-label {
    font-size: 1.1rem;
    background: linear-gradient(135deg, #D97706, #FF8C00); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
